@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  background-color: hsl(36, 100%, 99%);
  font-family: 'Inter', sans-serif;
  color: hsl(236, 13%, 42%);
}

/* NAVBAR STYLING */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav__hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-logo {
  width: 70%;
}

/* CONTAINER STYLING */

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/* HERO STYLING */

.hero-image {
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-container__h1 {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}

.hero-container__p {
  font-size: 0.9rem;
  line-height: 2;
}

.hero-container__div {
  margin-top: 2em;
}

.hero-container__a {
  padding: 1em 2em;
  margin-top: 5em;
  background-color: hsl(5, 85%, 63%);
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  text-transform: uppercase;
  font-size: 0.9rem;
}

.hero-container__a:hover {
  background-color: hsl(5, 60%, 53%);
  color: white;
}

/* SIDEBAR STYLING */

.sidebar {
  background-color: hsl(240, 100%, 5%);
  padding: 1em;
  margin-top: 3em;
  max-width: 20em;
}

.sidebar__h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin: 0;
}

.sidebar-article {
  margin-top: 2em;
  margin-bottom: 2em;
}

.bottom {
  margin-bottom: 0;
}

.sidebar-article__a {
  margin: 0;
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  font-weight: bold;
}

.sidebar-article__a:hover {
  color: hsl(35, 77%, 62%);
}

.sidebar-article__p {
  color: hsl(236, 13%, 42%);
  font-size: 0.9rem;
}

.sidebar > article:not(:last-child) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

/* RANKED ARTICLES STYLING */

.ranked-articles-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.ranked-article {
  display: flex;
}

.ranked-article-content {
  display: block;
  padding-left: 2em;
}

.ranked-article-content > a {
  font-weight: bold;
  margin-top: 1em;
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.ranked-article-content > a:hover {
  color: hsl(35, 77%, 62%);
}

.ranked-article-content > p {
  font-size: 0.9rem;
}

.rank-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

@media (min-width: 600px) {
}
