@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

picture {
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

body,
html {
  background-color: hsl(36, 100%, 99%);
  font-family: 'Inter', sans-serif;
  color: hsl(236, 13%, 42%);
  overflow-x: hidden;
}

/* NAVBAR STYLING */
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
  overflow-x: hidden;
}

/* POPOUT MENU */

.nav__hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn {
  padding-right: 0.2em;
  font-size: 4em;
  cursor: pointer;
  text-align: right;
}

/* .selected {
  background: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
} */

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(1%);
}

nav {
  position: fixed;
  text-align: left;
  background-color: hsl(36, 100%, 99%);
  color: hsl(240, 100%, 5%);
  height: 100vh;
  right: 0;
  top: 0;
  width: 65%;
  visibility: hidden;
  transform: translateX(10%);
  opacity: 0;
  transition: all 0.2s;
}

nav ul li {
  display: block;
  padding: 0.5em;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

ul.nav-menu {
  padding: 1em;
  margin-top: 3em;
}

/* CONTAINER STYLING */

.main-container {
  /* width: 100%; */
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

/* HERO STYLING */

.hero-image {
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.hero-container__h1 {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}

.hero-container__p {
  margin-top: 1em;
  font-size: 1.05rem;
  line-height: 2;
}

.\.hero-container__div {
  margin-top: 2em;
}

.hero-container__a {
  padding: 1em 2em;
  margin-top: 5em;
  color: white;
  background-color: hsl(5, 85%, 63%);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.hero-container__a:hover {
  background-color: hsl(5, 60%, 53%);
  color: white;
}

/* SIDEBAR STYLING */

.sidebar {
  background-color: hsl(240, 100%, 5%);
  padding: 1em;
  margin-top: 3em;
  max-width: 100%;
}

.sidebar__h2 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin: 0;
}

.sidebar-article {
  margin-top: 2em;
  margin-bottom: 2em;
}

.bottom {
  margin-bottom: 0;
}

.sidebar-article__a {
  margin: 0;
  color: hsl(36, 100%, 99%);
  font-weight: bold;
}

.sidebar-article__a:hover {
  color: hsl(35, 77%, 62%);
}

.sidebar-article__p {
  color: hsl(236, 13%, 42%);
  font-size: 1.1rem;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.sidebar > article:not(:last-child) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

/* RANKED ARTICLES STYLING */

.ranked-articles-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.ranked-article {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.ranked-article__img {
  height: 8em;
}

.ranked-article-content {
  display: flex;
  padding-left: 1em;
  flex-direction: column;
  justify-content: space-between;
}

.ranked-article-content > a {
  font-weight: 800;
  color: hsl(240, 100%, 5%);
  font-size: 1.2rem;
}

.ranked-article-content > a:hover {
  color: hsl(35, 77%, 62%);
}

.ranked-article-content > p {
  font-size: 0.9rem;
}

.rank-number {
  font-size: 1.8rem;
  font-weight: bold;
}

/* HAMBURGER MENU STYLING */

@media (min-width: 600px) {
  header {
    display: flex;
    align-items: center;
    padding-bottom: 1.5em;
  }

  picture {
    margin: 0;
    padding: 0;
  }

  .sidebar {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
  }

  .nav-item {
    margin-left: 5em;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 35em;
    gap: 2em;
    grid-template-areas:
      'header header'
      'img sidebar'
      'hero sidebar'
      'rank rank';
    padding: 4em;
  }

  .mobile-header {
    grid-area: header;
  }

  .hero-container__h1 {
    font-size: 3.5rem;
    width: 12em;
  }

  .hero-container {
    flex-direction: row;
    grid-area: hero;
  }

  .hero-container__p {
    margin-top: 0;
    padding-left: 4em;
  }

  .hero-image {
    grid-area: img;
    width: 100%;
  }

  .sidebar {
    grid-area: sidebar;
    margin-top: 0;
  }

  .sidebar-article__a {
    font-size: 1.5rem;
  }

  .sidebar-article__p {
    font-size: 1.2rem;
    padding-top: 1em;
  }

  .ranked-articles-container {
    flex-direction: row;
    grid-area: rank;
  }

  .ranked-article-content {
    flex-direction: column;
  }

  .ranked-article {
    margin-right: 5em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
